#basket{
    position: relative;
    top: 25vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width : 1000px;
    min-height: 100px;
    height: auto;
    border-left: double 0.2em;
    border-bottom: double 0.2em;
    border-right: double 0.2em;
    background-color: beige;
}



.ball{
    border-radius: 50%;
    background-color: aqua;
    height: 100px;
    width: 100px;
    /* bottom: 0; */
    left: 0;
}

#btn button{
    width: 25px;
    height: 20px;
}

